/* Глабольное разименование стилей*/
body {
   padding: 0;
   margin: 0;
   left: 0;
   /* Установка начала контейнера 0 по горизонтали */
   top: 0;
   /* Установка начала контейнера 0 по вертикали */
   font-family: "Stick", sans-serif;
}

.nav-bar {
   display: flex;
   justify-content: space-evenly;
   background-color: rgb(11, 22, 26);
   height: 100px;
}

.nav-link {
   padding: 18px;
   font-size: 2vh;
}

a {
   color: rgba(150, 192, 218, 0.678);
   text-decoration: none;
}

.main {
   display: flex;
}

.main-text {
   padding: 50px;
   height: 50vh;
   flex: 20%;
   font-size: 300%;
   /* параметр занимаемого пространства блока родительского контента*/
   /*transform: rotate(90deg); работает для всего блока( не удобно)*/
   /* writing-mode: vertical-lr; */
   text-align: center;
   /* с этого момента наш контейнер становиться гибким */
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 5vw;
   color: rgba(97, 139, 218, 0.678);
}

.main-cta {
   display: flex;
   padding: 0;
   height: 80vh;
   flex: 80%;
   /* Flex блоки делят между собой весь родительский блок*/
   background-size: cover;
   background-image: url(https://cs7.pikabu.ru/post_img/big/2017/12/17/7/151350779611205459.jpg );
   /* задний фон в размер блока. Если параметры размерные маленькие, изображение начинает повторятся много раз */
   /* свойство cover полностью покрывает задний фон по всем направлениям растягивает картинку */
}

.cta-text {
   display: flex;
   flex: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   color: rgba(150, 192, 218, 0.678);
   padding: 2vh;
   /* Выравнивание текста относительно вертикального центра */
   justify-content: center;
   /* Выравнивание контента относительно горизонтального центра */
   align-items: center;
   font-size: 3vh;

}



/* 1) Как выравнять текст вертикально. 1.Дать блоку flex свойство а потом justify
flex работает на основе статических единиц
фотокарточки в хорошем соотношении сторон при изменении устройства меняются хорошо,
а при тексте плохо
 */
.pointer {
   display: flex;
   flex: 100%;
   background-color: rgb(11, 22, 26);
   height: 10vh;
   justify-content: center;
   align-items: center;

}

img {
   height: 80px;
}

#footer {
   display: flex;
   background-image: url(https://cs7.pikabu.ru/post_img/big/2017/12/17/7/151350779611205459.jpg );
   background-size: cover;
   padding: 2vh;

}

.info {
   display: flex;
   padding: 2vh;
   justify-content: center;
   align-items: center;
   /* flex direction column - последовательная выгрузка блоков сверху вниз */
   flex-direction: column;
   background-color: rgb(11, 22, 26);

}

.row-info {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;

}

.col-info {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.row-card {
   display: flex;
   flex-direction: column;
   padding: 10px;
   height: 32vw;
   flex: 30%;
   /* justify-content: center;
   align-items: center; */
   background-color: rgba(150, 192, 218, 0.678);
   margin: 4vh;
   font-size: 17px;
   border-radius: 30px;
}

.card-header {
   text-align: center;
   height: 84px;
}

.card-ico{
   display: flex;
   justify-content: center;
   align-items: center;

} 

.card-ico img {
   display: flex;
   height: 150px;
   border-radius: 30px;
   justify-content: center;
   align-items: center;
}

.card-text {
   height: 8vw;
 
}

.card-text ul {
   list-style-type: none;
}

.card-text li {
   padding: 7px;
}
.col-card {
   display: flex;
   flex-direction: row;
   background-color: rgba(150, 192, 218, 0.678);
   margin: 2vh;
   font-size: 25px;
   border-radius: 30px;
   height: 15vw;
}
.col-img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 20px;  
}
.col-header{
   text-align: center;

}
.col-header2{
   padding-left: 300px;


}
.col-header3{
   padding-left: 300px;
}
.col-text li{
   padding: 10px;
}

.col-main{
   display: flex;
   flex-direction: column;
}
#footer a {
   display: flex;
   flex: 50%;
   justify-content: center;
   align-items: center;

}

#footer img {
   border-radius: 10px;
   height: 70px;
}